* {
  box-sizing: border-box;
}

body {
  background: #292d3e;
  color: #eeffff;
  margin: 0px;
  font-family: "Ubuntu Nerd Font";
}

.nav-links {
    text-align: right;
    font-size: 20px;
    margin: 10px 5px 10px 5px;
}

.nav-links > a {
    text-decoration: none;
    font-weight: bold;
    color: #eeffff;
    padding: 5px 5px 5px 5px;
}

.nav-links > a:hover {
    background: #c792ea;
    border-width: 0px;
    border-color: #c792ea;
    border-style: solid;
    border-radius: 5px;
}

#knowledge {
    text-align: center;
}

/* .knowledge-header { */
/*     text-align: center; */
/* } */

.knowledge-container {
    display: flex;
    grid-gap: 5px;
    justify-content: center;
}

.knowledge-button {
    background: #72a4ff;
    border-color: #72a4ff;
    border-radius: 5px;
    border-style: solid;
    padding: 2px;
    aspect-ratio: 1/1;
    min-width: 3.5rem;
}
